*{
	box-sizing: border-box;
}
section{
	margin: 10px;
	padding: 10px;
}
div{
	border: 3px solid black;
	width: 95%;
	height: 200px;
	background-color: grey;
	margin: 20px;
}
h2{
	border: 2px solid black;
	width: 75px;
	height: 25px;
	color: white;
	float:right;
	margin-top: 0px;
}
#p1{
	background-color: #DC143C;
	clear: left;
}
#p2{
	background-color: #FFD700;
	color: red;
	clear: left;
}
#p3{
	background-color: #3CB371;
	clear: left;
	width: 150px;


}

